* {
  font-family: Helvetica, Arial, sans-serif;
}

text {
  pointer-events: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
#chart {
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  overflow: hidden;
}

#chart svg g {
  cursor: pointer;
}
#chart svg {
  overflow: visible;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#chosenPerson {
  align-items: center;
  justify-content: center;
  opacity: 0%;
  display: flex;
  font-size: 40px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  margin-top: 25px;
  transition: all 0.3s;
}

#teamMemberInput {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

#addTeamMemberButton {
  background: #e11e69;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-family: Arial;
  font-size: 15px;
}

#addTeamMemberButton:hover {
  background: #c61a5c;
}

#addTeamMember {
  margin-left: 20px;
  margin-bottom: 10px;
}

#checkbox {
  float: left;
  font-size: 22px;
  margin-left: 20px;
}

#checkbox input {
  margin: 10px 0 0 10px;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
  cursor: pointer;
}

#checkbox label {
  margin-left: 15px;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
  cursor: pointer;
}

input[type="checkbox"]::before {
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  background: white;
  border: 2px solid #555;
}

input[type="checkbox"]:checked {
  background: #3086e8;
  border: 2px solid #555;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  margin: 20px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #3086e8;
  border-radius: 4px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.25) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  border-radius: 4px;
  position: absolute;
  background-color: #3086e8;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.25);
}
